:root {
  --color-bg: #faf9f5;
  --color-brand: #f8cf4d;
  --color-link: #106abc;
  --color-text: #3b405b;
  --width-narrow: 38rem;
  --spacing: 1rem;
  --text-scale-ratio: 1.25;
  --text-size: 1.125rem;
  --text-sm: calc(var(--text-size) / var(--text-scale-ratio));
  --text-md: calc(var(--text-size) * var(--text-scale-ratio));
  --text-lg: calc(
    var(--text-size) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xl: calc(
    var(--text-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
}

@media (min-width: 600px) {
  :root {
    --text-scale-ratio: 1.33;
  }
}

@media (min-width: 900px) {
  :root {
    --spacing: 2rem;
    --text-size: 1.25rem;
  }
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  display: grid;
  font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--text-size);
  font-weight: 300;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  line-height: 1.65;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.15;
  margin: 2.75rem 0 1.05rem;
}

h1 {
  margin-top: 0;
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-lg);
}

h3 {
  font-size: var(--text-md);
}

h1 + h2,
h2 + h3 {
  margin-top: 0;
}

small {
  font-size: var(--text-sm);
}

strong {
  font-weight: 600;
}

a:focus {
  outline: thin dotted;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button:focus,
input:focus {
  outline: thin dashed;
  outline-offset: 1px;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
  opacity: 0.85;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

img,
svg {
  max-width: 100%;
}

::selection {
  background-color: var(--color-brand);
  color: var(--color-text);
}

/* Utilities */
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 var(--spacing);
  width: 100%;
}

.wrapper--center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.wrapper--footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nobr {
  white-space: nowrap;
}

.skip-to-main {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 1px;
}

.skip-to-main:focus {
  background-color: var(--color-brand);
  clip: auto;
  height: auto;
  left: 0;
  margin: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

[tabindex='-1']:focus {
  outline: none;
}

.emoji {
  font-size: 3rem;
  margin: 1rem 0 0;
}

/* Header, Navbar */
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar__link,
.navbar__logo {
  height: 3rem;
  width: 3rem;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-0.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu {
  background-color: var(--color-bg);
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: var(--spacing);
  position: absolute;
  text-align: center;
  top: 3rem;
  transform-origin: top;
  width: 100%;
}

.menu.is-active {
  animation: slide-in 0.2s ease-in-out forwards;
  display: block;
}

.menu.is-active .menu__item {
  animation: fade-in 0.2s ease-in-out 0.2s forwards;
}

.menu.is-active .menu__item:nth-child(2) {
  animation-delay: 0.3s;
}

.menu.is-active .menu__item:nth-child(3) {
  animation-delay: 0.4s;
}

.menu.is-active .menu__item:nth-child(4) {
  animation-delay: 0.5s;
}

.menu__button {
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 0.25rem;
  cursor: pointer;
  line-height: 1;
  padding: 0.5rem;
}

.menu__item {
  margin-bottom: 0;
  opacity: 0;
}

.menu__link {
  color: var(--color-link);
  display: block;
  line-height: 1;
  padding: var(--spacing);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu__link:focus,
.menu__link:hover {
  color: var(--color-text);
}

.menu__link--apply {
  align-items: center;
  background-color: #211f1f;
  color: #fff;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.menu__link--apply:focus,
.menu__link--apply:hover {
  background-color: var(--color-text);
  color: #fff;
}

.menu__link--apply img {
  color: #fff;
  height: 1em;
  margin-right: 0.5rem;
  width: 1em;
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu,
  .menu.is-active {
    box-shadow: none;
    display: flex;
    padding: 0;
    position: initial;
    width: auto;
  }

  .menu__item {
    opacity: 1;
  }

  .menu__button {
    display: none;
  }
}

/* Footer */
.site-footer {
  background-color: var(--color-text);
  color: var(--color-bg);
  display: flex;
  font-size: var(--text-sm);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: var(--spacing);
  padding: 0;
  text-align: center;
}

.footer-menu__item {
  margin: 0;
}

.footer-menu__link {
  color: var(--color-brand);
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-menu__link:hover,
.footer-menu__link:focus {
  color: var(--color-bg);
}

.credits {
  margin: 0 0 1rem;
  text-align: center;
}

@media (min-width: 600px) {
  .wrapper--footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-menu {
    flex-direction: row;
    margin: 0;
  }

  .footer-menu__link {
    padding: 1rem;
  }

  .credits {
    margin: 1rem 0;
  }
}

/* Main content */
.post {
  display: grid;
  grid-template-columns:
    minmax(var(--spacing), 1fr)
    minmax(auto, var(--width-narrow))
    minmax(var(--spacing), 1fr);
  padding: 2rem 0;
}

.post > * {
  grid-column: 2;
}

.post .full-width {
  grid-column: 1 / 4;
  justify-self: center;
  max-width: 100%;
}

.post a {
  box-shadow: 0 -1px var(--color-brand) inset;
  color: var(--color-link);
  padding: 2px 0 1px;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.post a:focus,
.post a:hover {
  box-shadow: 0 -1.5em var(--color-brand) inset;
  color: #000;
}

.post ol,
.post ul {
  margin: 0 0 0 1.5rem;
  padding: 0;
}

.post li,
.post p {
  margin: 0 0 1.15rem;
}

.post__header {
  margin: 0 auto 2.75rem;
  max-width: 1200px;
}

.post__header + h2 {
  margin-top: 0;
}

.post__description {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 4 / 2;
  justify-content: center;
  margin-bottom: 2.75rem;
}

.post__img-featured {
  grid-area: 1 / 2 / 4 / 3;
  margin: auto;
  max-height: 50vh;
}

@media (min-width: 600px) {
  .post__header {
    display: grid;
    grid-column: 1 / 4;
    grid-column-gap: var(--spacing);
    grid-row-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 0 var(--spacing);
  }

  .post__description {
    margin-bottom: 0;
  }
}

/* coming soon page */
.logo {
  margin: var(--spacing);
  margin-bottom: calc(2 * var(--spacing));
  max-width: 240px;
  width: 100%;
}

.description {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 0;
  text-align: center;
}

/* 404 page */
.page-404 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.page-404__title {
  /* TODO: lighter indigo, add variable */
  color: #77798c;
  font-size: 30vw;
  font-weight: 300;
  letter-spacing: -2vw;
  line-height: 1;
  text-transform: uppercase;
}

.page-404__description {
  background-color: var(--color-bg);
  box-shadow: 0 -8px 8px -10px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  line-height: 1.15;
  padding: var(--spacing);
  text-align: center;
  transform: translateY(-10vw);
}

@media (min-width: 900px) {
  .page-404__title {
    font-size: 18rem;
    letter-spacing: -1.5rem;
  }

  .page-404__description {
    transform: translateY(-6rem);
  }
}

/* FAQ page */
.faq__item {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
}

.faq__title {
  cursor: pointer;
  grid-area: 1 / 1 / 2 / 2;
  margin: 1.75rem 0;
}

.faq__toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  grid-area: 1 / 2 / 2 / 3;
  margin: 0 0 0 1rem;
}

.faq__toggle svg {
  pointer-events: none;
}

.faq__toggle line:last-of-type {
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

.faq__toggle[aria-expanded='true'] line:last-of-type {
  transform: rotate(90deg);
}

.faq__answer {
  grid-area: 2 / 1 / 3 / 3;
}

/* Anchor links */
.post .anchor {
  box-shadow: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0.375em;
  position: relative;
}

.post .anchor:focus,
.post .anchor:hover {
  box-shadow: none;
}

.anchor::after {
  content: attr(data-icon);
}

.lead {
  font-size: var(--text-lg);
  font-weight: 300;
  line-height: 1.25;
}

/* invitation and sign in form */
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: var(--width-narrow);
  padding: 1rem;
  position: relative;
  width: 100%;
}

.form:disabled {
  opacity: 0.7;
}

.form--invite {
  background-color: var(--color-brand);
  border-radius: 0.125rem;
}

.form__label {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.form__input {
  flex: 1 0;
  margin-bottom: 1rem;
  max-width: 100%;
}

.form__input--invite {
  display: block;
  font-family: monospace;
  font-size: var(--text-lg);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.form__input[aria-invalid='true'] {
  /* TODO: add variables */
  background-color: #feedee;
  border-color: #f9838b;
  color: #942f35;
}

.form__btn {
  background-color: var(--color-text);
  border: 0;
  color: var(--color-bg);
  padding: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.form__btn:focus,
.form__btn:hover {
  /* TODO: add variable */
  background-color: #252637;
}

.form__btn--invite,
.form__input--invite {
  line-height: 1;
  padding: 1rem;
}

.form__hint {
  font-size: var(--text-sm);
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 600px) {
  .form {
    flex-direction: row;
    justify-content: center;
  }

  .form__input {
    margin-bottom: 0;
  }
}

.message {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
}

.message--error {
  /* TODO: add variables */
  background-color: #feedee;
  border: 1px solid #f9838b;
  color: #942f35;
}

.loading {
  align-items: center;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

[aria-busy='true'] .loading {
  display: flex;
}

.loading svg {
  fill: none;
  transform: rotate(-90deg);
}

.loading circle {
  animation: loader 2s infinite ease-in-out both;
  animation-direction: normal;
  stroke: #fff;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  stroke-linecap: round;
  stroke-width: 10;
  transform-origin: center;
}

@keyframes loader {
  50% {
    transform: rotate(360deg);
    stroke-dashoffset: 0;
  }

  100% {
    transform: rotate(360deg);
    stroke-dashoffset: 283;
  }
}
